.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.main-page {
  margin-top: 4%;
}
.location {
  margin-top: 8%;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #8ab6d6;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: #325288;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 330px;
}
.carousel {
  background: #512da8;
}

.carousel-item {
  height: 330px;
}
#myCarousel {
  margin-top: 5%;
  margin-bottom: 5%;
}
.btn-send {
  background-color: #1eae98;
}
.btn-send:hover {
  background-color: #8ad6bf;
}
